<!-- views/partials/comment-form.handlebars -->


<div class="mt-5 ml-4">
  <form action="/reviews/comments" method="post">
    <input type="hidden" value="{{review._id}}" name="reviewId">
      <fieldset>
        <legend>Add a Comment</legend>
        <!-- TITLE -->
        <div class="form-group">
          <input class="form-control"
            id="comment-title"
            type="text"
            name="title"
            placeholder="Type comment here"
            required="true"
            />
        </div>
      </fieldset>
    <!-- BUTTON -->
    <div class="d-flex justify-content-end">
      <button class="btn-secondary btn" type="submit">Submit Comment</button>
    </div>
  </form>
</div>