<!-- Generates comments cards -->

<!-- Comment Partial -->

<div class="ml-4">
  <div class="card-block">
    <h4 class="card-title mt-4">{{this.title}}</h4>
    <p class="card-text text-right mb-0">- {{this.author}}</p>
    <hr class="my-0"/>
<!-- Delete link -->
  </div>
</div>