<a href="/">< Go Back to sign-in</a>
<!-- Sign UP Form -->
<div class="container mt-5" >
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-12 col-md-8">
      <div class="d-flex flex-row justify-content-start align-items-center mb-5">
        <img class="logo" src="/images/holbie-notes-logo.png">
        <h1>Holbie Notes</h1>
      </div>
      <p>
        <b>Holbie Notes</b> is a place for Holberton students to discuss school topics, share resources, and ask questions.
      </p>
      <h5>Holberton School email addresses only:</h5>
      <hr />
      <form action="/login" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control"
            id="username"
            type="text"
            name="username"
            placeholder="ie. holbie"
            required
          />
          <label for="email">Email</label>
          <input class="form-control"
            id="email" 
            type="text" 
            name="email"
            placeholder="12345@holbertonschool.com"
            required pattern=".+@holbertonschool\.com" 
            required
          />
          <label for="password">Password</label>
          <input class="form-control"
            id="password"
            type="password"
            name="password"
            placeholder="************"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
            title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
            required
          />
          <div class="d-flex flex-row justify-content-end">
            <button class="btn btn-danger" type="submit">Sign Up</button>
          </div>
          <div class="mb-4" id="message">
            <h3>Password must contain:</h3>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
          </div>
          <hr />
          <div class="d-flex flex-row justify-content-end">
            <a class="btn btn-outline-primary ml-auto" href="/">Back to Login</a>
          </div>
          
        </div>
      </form>
    </div>
    <div class="col-md-2"></div>
    
  </div>
</div>